{% extends "base.html" %}

{% block title %}
Todo List
{% endblock title %}

{% comment %} {% block heading %}
Welcome to {{page}}
{% endblock heading %} {% endcomment %}

{% block content%}
<ul>
  <br>
  <!-- Messages -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close">
            </button>
        </div>
    {% endfor %}
{% endif %}
  <!--From Start-->
  <form method="post">  <!--1> Define Method of From is POST-->
    {% csrf_token %}<!--2> Add CSRF Token-->
   
  <div class="mb-3" >
    <input type="text" class="form-control" name="task" placeholder="New Task">
  </div>                                <!-- 3> add Name-->

  <button type="submit" class="btn btn-primary">Add Task</button>
</form>

</br>
   <table class="table table-bordered border-primary">
  <thead class="table-dark">
    <tr>
      <th scope="col">Serial No</th>
      <th scope="col">Task Name</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    
    {% for task in all_tasks %}
    {% if task.is_completed %}
    <tr class="table-success">
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ task.task }}</td>
      <td>{{ 'Completed' }}</td>
      <td><a href="#" class="btn btn-primary btn-sm">Edit</a></td>
      <td><a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>       <!-- For Deleting, Create Delete URL -->
    {% else %}
     <tr class="table-danger">
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ task.task }}</td>
      <td>{{ 'Not Completed' }}</td>
      <td><a href="#" class="btn btn-primary btn-sm">Edit</a></td>
      <td><a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>     <!-- For Deteting, Create Delete URL -->
    {% endif %}
    {% endfor %}
  </tbody>
</table>
</ul>
{% endblock content %}
